.filters {
    width: 100%;
    height: 70px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
button {
    color: #fff;
    background-color: #ff5a5f;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    float: right;
}
button:hover {
    opacity: 0.9;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: center;
    float: left;
    border-right: 1px solid #ddd;
}
.amenities {
    border: unset;
}
h3 {
    font-weight: 600;
    margin-bottom: 0;
}
h4 {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}
